.container {
  padding-top: 50px;
  max-width: 980px;
  margin: auto;

  &-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;

    .dropdown {
      border-radius: 5px;
      border: 1px solid #ddd;
      padding: 6px;

      select {
        border: none;
      }
    }
  }

  &-main {
    display: grid;
    grid-template-columns: calc(50% - 16px) calc(50% - 16px);
    grid-column-gap: 32px;
    grid-row-gap: 12px;
  }

  &-footer {
    text-align: center;
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }
}