:host {
    > div {
        color: #0088FF;
        background-color: #0088ff4d;
        padding: 2px 8px;
        border-radius: 10px;
        font-size: 12px;
        
        &.vip {
            color: #ff6200;
            background-color: #ff62004d;
        }
    }
}
